body{
  /* import background image from GIPHY  */
  background-color: white
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* font style */
  color:white;  /* font color */
  margin: 0;
  padding: 0;

}

.header{

  width: 100%;
  height: auto;

}
/* Set your video size */
video{
  width: 800px;
  height:300px;
}


/* Set your image size */

/* You can adjust single video by selecting their class name */


/* Add some animation! */

/* Use @keyframes to set animation type */
@keyframes animation-name{
  10% {
    transform: translate( 20px);
  }
  50% {
    transform: translate( 100px);
  }
  100% {
    transform: translate( 50px);
  }
}
