body{
  /* import background image from GIPHY  */
  background-image: url(https://media.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* font style */
  color:white;  /* font color */
}


/* Set your video size */
video{
  width: 100px;
  height:240px;
}

iframe{
  width: 400px;
  height:240px;
}

/* Set your image size */
img{
  width: 400px;
  height: 240px;
}

/* You can adjust single video by selecting their class name */
.video1{
  transform: rotate(45deg);
}
.video2{
  transform: skew(30deg);
}
.video3{
  transform: scale(1.2);
}

/* Add some animation! */
.image2{
  animation: animation-name 1s infinite; /* Define your animation's name and duration */
}
/* Use @keyframes to set animation type */
@keyframes animation-name{
  10% {
    transform: translate( 20px);
  }
  50% {
    transform: translate( 100px);
  }
  100% {
    transform: translate( 50px);
  }
}
