body {
  /* import background image from GIPHY  */
  background-color: white background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font style */
  color: white;
  /* font color */
  margin: 0;
  padding: 0;
    background-color: #f0f0f0;
}

.header {
  width: 100%;
  height: auto;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* about */
.top-right {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 30pt;
  color: black;
  font-family: serif;
}

/* Videos*/
.centered {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 30pt;
  color: black;
  font-family: serif;
}

/* .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
} */
.contimg {
  width: 100%;
  height: 100%;
}

.news{
  background-color: #f0f0f0;

}

#newsformat1 {
  float: left;
  width: 25%;
  height: 25%;
  margin-left: 35px;
  margin-bottom: : 35px;
  margin-right: : 35px;
  margin-top: : 35px;
}

#newsformat2 {
  float: left;
  width: 25%;
  height: 25%;
  margin-left: 35px;
  margin-bottom: : 35px;
  margin-right: : 35px;
  margin-top: : 35px;
}

#newsformat3 {
  float: left;
  width: 25%;
  height: 25%;
  margin-left: 35px;
  margin-bottom: : 35px;
  margin-right: : 35px;
  margin-top: : 35px;
}

#newsformat4 {
  float: left;
  width: 25%;
  height: 25%;
  margin-left: 35px;
  margin-bottom: : 35px;
  margin-right: : 35px;
  margin-top: : 35px;
}

#adformat1 {
  float: left;
  margin-bottom: : 35px;
  margin-right: : 35px;
  margin-top: : 35px;
  margin-left: 35px;
  width: 20%;
  height: 90%;
}

#adformat2 {
  float: right;
  margin-bottom: : 35px;
  margin-right: : 35px;
  margin-top: : 35px;
  margin-left: 35px;
  width: 20%;
  height: 90%;
}

#news {
  margin-left: 35%;
  width: 100%;
  height: 100%;
}

.aboutText {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20pt;
  color: black;
  font-family: serif;
  text-align: center;
  background-color: #f0f0f0;
}

#essayLink {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20pt;
  font-family: serif;
  text-align: center;
  background-color: #f0f0f0;
}

/* .wrapper>div { */
/* border-radius: 5px;
  background-color: rgba(252, 211, 3);
  padding: 1em;
  color: #000000;
} */
/* Set your video size */
video {
  width: 800px;
  height: 300px;
}

/* Set your image size */
/* You can adjust single video by selecting their class name */
/* Add some animation! */
/* Use @keyframes to set animation type */
@keyframes animation-name {
  10% {
    transform: translate(20px);
  }

  50% {
    transform: translate(100px);
  }

  100% {
    transform: translate(50px);
  }
}
