body{
    margin:0;
    padding:0;
    font-family: 'Arvo', serif;
    background-color:black;
}
.opacity {
    position:fixed;
    z-index:-5;
    margin:0px auto;
    display: block;
    width:100%;
    height:auto;
    -webkit-animation: opacity 5s infinite; /* Safari 4+ */
    -moz-animation:    opacity 5s infinite; /* Fx 5+ */
    -o-animation:      opacity 5s infinite; /* Opera 12+ */
    animation:         opacity 5s infinite; /* IE 10+, Fx 29+ */
    overflow-y:hidden;
  }

@-webkit-keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

.spinning1, .spinning2, .spinning3, .spinning4{
    animation:infinite-spinning 5s infinite;
    color:white;

}
.spinning1{
  font-size: 12px;
  padding-left: 12px;
  
}
.spinning2{
    font-size: 24px;
    padding-left: 24px;
}
.spinning3{
    font-size: 48px;
    padding-left: 48px;
      }
.spinning4{
      font-size: 64px;
      padding-left: 64px;
}

@keyframes color{
    
}


@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0% { color: white; }
    25% { color: pink; }
    50% { color: yellow; }
    75% { color: black; }
    100% { color: blueviolet; }
}




  