
/* Set your video size */
video{
  width: 400px;
  height:240px;
}

iframe{
  width: 400px;
  height:240px;
}

/* Set your image size */
img{
  width: 400px;
  height: 240px;
}

/* You can also adjust single video by selecting their class name */
.video1{
  transform: rotate(45deg);
}
.video2{
  transform: skew(30deg);
}
.video3{
  transform: scale(1.2);
}



  